<div class="notification-container">
  <a routerLink="/mes-rendez-vous" class="notification-link">
    <span *ngIf="newRendezVousCount > 0" class="notification-badge">
      {{ newRendezVousCount }}
    </span>
  </a>


  <form (ngSubmit)="filterRendezVous()">
    <!-- Filtrage par nom -->
    <label for="searchName">Nom :</label>
    <input type="text" id="searchName" [(ngModel)]="filter.searchName" name="searchName" placeholder="Nom">

    <!-- Filtrage par prénom -->
    <label for="searchPrenom">Prénom :</label>
    <input type="text" id="searchPrenom" [(ngModel)]="filter.searchPrenom" name="searchPrenom" placeholder="Prénom">
  <div>

</div>

        <!-- Filtrage par plage de dates -->
        <label for="startDate">De :</label>
        <input type="date" id="startDate" [(ngModel)]="dateRange.startDate" name="startDate">
    
        <label for="endDate">À :</label>
        <input type="date" id="endDate" [(ngModel)]="dateRange.endDate" name="endDate">
    
        <button type="submit" class="btn">Filtrer</button>
      </form>
    </div>
    


<div class="rendez-vous-list">
  <div *ngFor="let rdv of filteredRendezVous" class="rdv-card">
    <p><strong>Date :</strong> {{ rdv.date | date:'short' }}</p>
    <p><strong>Patient :</strong> {{ rdv.patient?.prenom }} {{ rdv.patient?.nom }}</p>
    <p><strong>Statut :</strong> {{ rdv.statutrdv }}</p>
    
    <div class="actions">

      <button (click)="acceptRendezVous(rdv.id)" [disabled]="rdv.statutrdv === 'CONFIRMÉ'">✅ Accepter</button>
      <button class="btn btn-danger" (click)="refuserRendezVous(rdv.id)">Refuser</button>
      <button (click)="onReportClick(rdv.id)">📅 Reporter</button>
    </div>
  </div>
</div>

<div *ngIf="showCalendar" class="report-calendar">
  <h4>Reporter le rendez-vous</h4>
  <input type="datetime-local" [(ngModel)]="newDate">
  <button (click)="submitNewDate()">Valider</button>
</div>

