.bienvenue-container {
    background: linear-gradient(to right, #e0f2fe, #ffffff); /* dégradé bleu clair */
    box-shadow: 0 6x 20x rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
  }
  
  .bienvenue-container h2 {
    font-size: 2rem;
    font-weight: 1000;
    color: #1e3a8a; /* bleu foncé */
  }
  
  .bienvenue-container h2 span {
    color: #2563eb; /* bleu vif pour "Dawini" */
  }
  
  .bienvenue-container p {
    margin-top: 1rem;
    color: #475569; /* gris bleuté */
    font-size: 1rem;
  }
  